@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);


body {
    position: relative;
}
#content{
    margin-top:10vh;
    height:460px;
    width:410px;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
}
#content a{
    background-color: #C45;
    color:#FFF;
    padding:5px;
    text-decoration: none;
}
#content >p {
    font-weight: 700;
    font-size: 20px;
    margin:0px;
    text-align: center;
    line-height: 18px;
}
#content >p:nth-of-type(2){
    font-size: 16px;
    margin-bottom: 10px;
}
form {
    height:370px;
    width:330px;
    margin-left: auto;
    margin-right: auto;
    padding:40px;
    background-color: #EEE;
    border:4px solid #BBB;
    border-radius: 3px;
    font-weight: 400;
}
form input {
    padding:8px;
    width:180px;
    margin-bottom: 20px;
    border: none;
}
form select {
    margin-bottom: 20px;
}
form input:last-of-type {
    background-color: #09F;
    color:#FFF;
    cursor: pointer;
    width:100px;
}
form input:last-of-type:hover {
    background-color: #07D;
}