<html>
<head>

<link href="style/style.css" rel="stylesheet" type="text/css"> 


</head>
<body>
<div id="content">
    <p>Twitter Bot</p>
    <p>By Iceberg</p>
    <div id="text"> 
    {{message}}
    If you want to use the Modizy_Bot functionnality, please register on the following website<br>
    <a target="_blank" href='http://modizyconnectexample.herokuapp.com/'>modizyconnectexample.herokuapp.com</a><br><br>
    If you want to build something similar upon your Iceberg powered website, the complete projet and a tutorial are available on the <a target="_blank" href="https://github.com/Rafkraft/twitter_bot/blob/masterv2/tuto.md">GitHub Page</a>.
    </div>
</div>


</body>
</html>