<html>
<head>

<link href="style/style.css" rel="stylesheet" type="text/css"> 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
$( document ).ready(function() {
    for (i = 1; i < 32; i++) { 
        $("#date1").append('<option value="'+i+'">'+i+'</option>');
    }
    for (i =1; i < 13; i++) { 
        $("#date2").append('<option value="'+i+'">'+i+'</option>');
    }
    for (i =1900; i < 2015; i++) { 
        $("#date3").append('<option value="'+i+'">'+i+'</option>');
    }
});
</script>

</head>
<body>

<form method="post"> 
<label>Nom</label><br><input id="lastName" name="lastName" /><br>
<label>Prénom</label><br><input id="firstName" name="firstName" /><br>
<label>Pseudo Twitter</label><br>@<input id="twitterUsername" name="twitterUsername" /><br>

<label>Date de naissance</label><br>
 <select name="date1" id="date1">
</select> 
 <select name="date2" id="date2">
</select> 
 <select name="date3" id="date3">
</select> <br>
<label>Mail</label><br><input id="mail" name="mail" /><br>

<input type="submit">

</form>


</body>
</html>